{% extends "base.html" %}

{% block title %}Editar Experiencia{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="mb-4">Editar Experiencia</h2>
            <p class="text-muted font-monospace">ID: {{ exp_id }}</p>

            <form method="POST" action="{{ url_for('admin_update_experiencia', experiencia_id=exp_id) }}">
                
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre de la Experiencia</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" 
                           value="{{ experiencia.nombre }}" required>
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" 
                              rows="5" required>{{ experiencia.descripcion }}</textarea>
                </div>


                <div class="mb-3">
                    <label for="precio" class="form-label">Precio por Noche (COP)</label>
                    <input type="number" class="form-control" id="precio" name="precio" 
                           value="{{ experiencia.precio_noche }}" required>
                </div>

                <div class="mb-3">
                    <label for="imagen_url" class="form-label">Link (URL) de la Foto</label>
                    <input type="text" class="form-control" id="imagen_url" name="imagen_url" 
                        value="{{ experiencia.imagen_url }}" required>
                    <div class="form-text">
                        Pega el "Enlace directo" de <a href="https://postimages.org/" target="_blank">Postimages.org</a>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
                <a href="{{ url_for('admin_panel') }}" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}